<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta http-equiv="Content-Type" content="text/html;
	charset=UTF-8" />
</head>
<body>
	<h1 layout:fragment="header">
		JDJ - Agenda <small>Meus Contatos</small>
	</h1>
	<div layout:fragment="content" class="container">
		<div class="jumbotron">
			<table	class="table table-bordered	table-striped">
                <thead>
                    <tr>
                        <td>Nome</td>
                        <td>Número</td>
                        <td>Email</td>
                    </tr>
                </thead>
                <tbody>
                    <tr	th:if="${contatoss.empty}">   
                     	<td colspan="3">Sem	contatos</td>
                    </tr> 
                    <tr	th:each="contato : ${contatoss}">
                        <td	th:text="${contato.contatoId}">id</td>
                        <td><a	href="view.html" th:href="@{'/contato/' + ${contato.contatoId}}" th:text="${contato.nome}">nome</a>
                        <td><a th:text="${contato}">nome</a>
                        </td>
                    </tr>
                </tbody>
            </table>
		</div>
	</div>
</body>

</html>
